@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../_sass/screen.scss */
html, body {
  height: 100%;
  font-size: 16px;
}

/* line 50, ../_sass/2015/_color.scss */
.btn-success {
  border-color: #859900;
  background-color: #9bb300 !important;
  text-decoration: none !important;
}
/* line 42, ../_sass/2015/_color.scss */
.btn-success:hover {
  background-color: #7c8f00 !important;
}

/* line 51, ../_sass/2015/_color.scss */
.btn-danger {
  border-color: #cb4b16;
  background-color: #e25418 !important;
  text-decoration: none !important;
}
/* line 42, ../_sass/2015/_color.scss */
.btn-danger:hover {
  background-color: #c24815 !important;
}

/* line 52, ../_sass/2015/_color.scss */
.btn-primary {
  border-color: #268bd2;
  background-color: #3797db !important;
  text-decoration: none !important;
}
/* line 42, ../_sass/2015/_color.scss */
.btn-primary:hover {
  background-color: #2485c9 !important;
}

/* line 53, ../_sass/2015/_color.scss */
.btn-info {
  border-color: #99A;
  background-color: #a7a7b6 !important;
  text-decoration: none !important;
}
/* line 42, ../_sass/2015/_color.scss */
.btn-info:hover {
  background-color: #9393a5 !important;
}

/* line 54, ../_sass/2015/_color.scss */
.alert-info {
  border-color: #a3cfee;
  background-color: #cee6f6 !important;
  color: #16527c !important;
}

/* line 55, ../_sass/2015/_color.scss */
.alert-danger {
  border-color: #f2a788;
  background-color: #f7c9b6 !important;
  color: #6f290c !important;
}

/* line 1, ../_sass/2015/_footer.scss */
#footer {
  background: #002b36 url(https://s3.amazonaws.com/dausha/images/footer.jpg) no-repeat !important;
  min-height: 250px;
  color: #eee8d5;
  font-size: 0.9em;
  font-family: "Helvetica Neue", Geneva, Verdana, sans-serif !important;
  padding-top: 1em;
}
/* line 8, ../_sass/2015/_footer.scss */
#footer .footer-col {
  height: 250px;
}
/* line 11, ../_sass/2015/_footer.scss */
#footer h3 {
  font-size: 1.1em;
  color: #eee8d5;
}
/* line 14, ../_sass/2015/_footer.scss */
#footer h3.title {
  border-bottom: 1px solid #AAA;
}
/* line 16, ../_sass/2015/_footer.scss */
#footer i.fa {
  width: 1.5em;
  text-align: center;
}
/* line 20, ../_sass/2015/_footer.scss */
#footer a {
  color: #cee6f6;
}

/* line 24, ../_sass/2015/_footer.scss */
.copyright {
  background: #000203;
  color: #657b83;
  font-size: 0.9em;
  padding: 0.5em 0;
}

/* line 30, ../_sass/2015/_footer.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 2, ../_sass/2015/_frontpage.scss */
.jumbotron {
  height: 94vh;
  text-align: center;
  margin: 0;
  background: #f0ebe7 url(https://s3.amazonaws.com/dausha/images/pbg.jpg) no-repeat top left fixed;
  background-size: cover;
}
/* line 8, ../_sass/2015/_frontpage.scss */
.jumbotron h1 {
  margin-top: 15%;
  font-size: 3em;
}
/* line 11, ../_sass/2015/_frontpage.scss */
.jumbotron h1 span {
  display: block;
  font-size: 70%;
  margin-top: 2%;
}
/* line 17, ../_sass/2015/_frontpage.scss */
.jumbotron ul {
  margin-top: 10%;
}

/* line 21, ../_sass/2015/_frontpage.scss */
.dark {
  color: #f8f8f8;
  xbackground: url(https://s3.amazonaws.com/dausha/images/esback.jpg) no-repeat center center;
  background: #002b36 url(https://s3.amazonaws.com/dausha/images/footer.jpg) no-repeat top left fixed;
  background-size: cover;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* line 26, ../_sass/2015/_frontpage.scss */
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #b58900 !important;
  text-shadow: 2px 1px 2px #000 !important;
}

/* line 1, ../_sass/2015/_navbar.scss */
header.navbar {
  background-size: cover;
  background: #9d2235 !important;
}
/* line 2, ../_sass/2015/_navbar.scss */
header.navbar a.nav-link {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* line 4, ../_sass/2015/_navbar.scss */
header.navbar a.nav-link:focus, header.navbar a.nav-link:hover {
  color: #FFF !important;
  text-decoration: underline;
}
/* line 9, ../_sass/2015/_navbar.scss */
header.navbar a.navbar-brand {
  font-family: Syncopate, "Helvetica Neue",Helvetica,Arial,cursive;
  color: #b58900;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 14, ../_sass/2015/_navbar.scss */
header.navbar a.navbar-brand .sub {
  color: #e8b000;
  padding-left: 0.1em;
}
/* line 15, ../_sass/2015/_navbar.scss */
header.navbar a.navbar-brand:hover, header.navbar a.navbar-brand:focus, header.navbar a.navbar-brand:active, header.navbar a.navbar-brand .active {
  color: #FFF;
}
/* line 17, ../_sass/2015/_navbar.scss */
header.navbar .navbar-toggler {
  color: #f7f1ec;
  border: 1px solid #f7f1ec;
}

/* line 24, ../_sass/2015/_navbar.scss */
#skiptocontent a {
  padding: 6px;
  position: absolute;
  top: -90px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
  z-index: 8000;
}
/* line 37, ../_sass/2015/_navbar.scss */
#skiptocontent a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 8000;
  background: #BF1722;
  outline: 0;
  -webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}

/* line 1, ../_sass/2015/_blog.scss */
.photo {
  text-align: center;
}
/* line 3, ../_sass/2015/_blog.scss */
.photo img {
  width: 80%;
  display: inline-block;
  height: auto;
  margin: 10px auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857;
  background-color: #ffffff;
  border: 3px solid #fff;
  border-radius: 4px;
  -moz-box-shadow: #666 2px 2px 10px;
  -webkit-box-shadow: #666 2px 2px 10px;
  box-shadow: #666 2px 2px 10px;
}
/* line 16, ../_sass/2015/_blog.scss */
.photo p {
  font-size: 0.875rem;
  font-style: italic;
  color: #706f72;
}

/* line 1, ../_sass/2015/_headers.scss */
h1, h2, h3, .footnotes:before {
  color: #491019;
  text-shadow: 2px 1px 2px #999;
}

/* line 6, ../_sass/2015/_headers.scss */
h1, h2, h3, h4, .progress, .footnotes:before {
  font-family: Montserrat, "Droid Sans", Sans-serif;
  font-weight: 400 !important;
}

/* line 10, ../_sass/2015/_headers.scss */
.progress {
  font-weight: bold;
  text-shadow: 1px 1px 2px #333;
}

/* line 12, ../_sass/2015/_headers.scss */
h1 {
  font-size: 3em;
  line-height: 1.05em;
  margin-top: 0 !important;
}

/* line 13, ../_sass/2015/_headers.scss */
h2, .footnotes:before {
  font-size: 2.25em;
  line-height: 1.25em;
}

/* line 14, ../_sass/2015/_headers.scss */
h3 {
  font-size: 1.75em;
  line-height: 1.25em;
}

/* line 16, ../_sass/2015/_headers.scss */
.footnotes:before {
  content: "Footnotes";
  display: block;
  margin-bottom: 0.5em;
}

/* line 18, ../_sass/2015/_coderay-solarized.scss */
span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px;
}

/* line 24, ../_sass/2015/_coderay-solarized.scss */
table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px;
}
/* line 29, ../_sass/2015/_coderay-solarized.scss */
table.CodeRay td {
  padding: 2px 4px;
  vertical-align: top;
}

/* line 35, ../_sass/2015/_coderay-solarized.scss */
.CodeRay {
  background-color: #fdf6e3;
  border: 1px solid #657b83;
  color: #657b83;
}
/* line 40, ../_sass/2015/_coderay-solarized.scss */
.CodeRay pre {
  margin: 0px;
}
/* line 44, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .line-numbers {
  background-color: #eee8d5;
  color: #93a1a1;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 52, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .line-numbers a {
  background-color: #eee8d5 !important;
  color: #93a1a1 !important;
  text-decoration: none !important;
}
/* line 57, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .line-numbers a:target {
  color: #268bd2 !important;
}
/* line 62, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .line-numbers pre {
  word-break: normal;
}
/* line 66, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .line-numbers .highlighted {
  color: #dc322f !important;
}
/* line 69, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .line-numbers .highlighted a {
  color: #dc322f !important;
}
/* line 74, ../_sass/2015/_coderay-solarized.scss */
.CodeRay span.line-numbers {
  padding: 0px 4px;
}
/* line 78, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .line {
  display: block;
  float: left;
  width: 100%;
}
/* line 83, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .code {
  width: 100%;
}
/* line 86, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .debug {
  color: #fdf6e3 !important;
  background: #268bd2 !important;
}
/* line 90, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .annotation {
  color: #268bd2;
}
/* line 93, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .attribute-name {
  color: #d33682;
}
/* line 96, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .attribute-value {
  color: #dc322f;
}
/* line 99, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .binary {
  color: #6c71c4;
}
/* line 101, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .binary .char {
  color: #6c71c4;
}
/* line 104, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .binary .delimiter {
  color: #6c71c4;
}
/* line 109, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .char {
  color: #dc322f;
}
/* line 111, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .char .content {
  color: #dc322f;
}
/* line 114, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .char .delimiter {
  color: #dc322f;
}
/* line 119, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .class {
  color: #d33682;
  font-weight: bold;
}
/* line 122, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .class-variable {
  color: #268bd2;
}
/* line 127, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .color {
  color: #859900;
}
/* line 131, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .comment {
  color: #93a1a1;
}
/* line 133, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .comment .char {
  color: #657b83;
}
/* line 136, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .comment .delimiter {
  color: #657b83;
}
/* line 141, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .constant {
  color: #268bd2;
  font-weight: bold;
}
/* line 146, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .decorator {
  color: #d33682;
}
/* line 150, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .definition {
  color: #2aa198;
  font-weight: bold;
}
/* line 155, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .delimiter {
  color: #586e75;
}
/* line 159, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .directive {
  color: #2aa198;
  font-weight: bold;
}
/* line 164, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .docstring {
  color: #cb4b16;
}
/* line 168, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .doctype {
  color: #268bd2;
}
/* line 172, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .done {
  text-decoration: line-through;
  color: #586e75;
}
/* line 177, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .entity {
  color: #dc322f;
  font-weight: bold;
}
/* line 182, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .error {
  color: #fdf6e3;
  background-color: #dc322f;
}
/* line 187, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .escape {
  color: #93a1a1;
}
/* line 191, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .exception {
  color: #dc322f;
  font-weight: bold;
}
/* line 196, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .float {
  color: #6c71c4;
}
/* line 200, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .function {
  color: #268bd2;
  font-weight: bold;
}
/* line 203, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .function .delimiter {
  color: #268bd2;
  font-weight: bold;
}
/* line 209, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .global-variable {
  color: #cb4b16;
}
/* line 213, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .hex {
  color: #268bd2;
}
/* line 217, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .id {
  color: #268bd2;
  font-weight: bold;
}
/* line 222, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .include {
  color: #d33682;
  font-weight: bold;
}
/* line 227, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .inline {
  background-color: rgba(0, 0, 0, 0.07);
  color: #586e75;
}
/* line 230, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .inline-delimiter {
  font-weight: bold;
  color: #93a1a1;
}
/* line 236, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .instance-variable {
  color: #268bd2;
}
/* line 240, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .integer {
  color: #2aa198;
}
/* line 244, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .imaginary {
  color: #dc322f;
}
/* line 248, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .important {
  color: #dc322f;
}
/* line 252, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .key {
  color: #6c71c4;
}
/* line 254, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .key .char {
  color: #6c71c4;
}
/* line 257, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .key .delimiter {
  color: #6c71c4;
}
/* line 262, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .keyword {
  color: #859900;
  font-weight: bold;
}
/* line 267, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .label {
  color: #b58900;
  font-weight: bold;
}
/* line 272, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .local-variable {
  color: #cb4b16;
}
/* line 277, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .map .content {
  color: #6c71c4;
}
/* line 280, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .map .delimiter {
  color: #6c71c4;
}
/* line 285, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .namespace {
  color: #6c71c4;
  font-weight: bold;
}
/* line 290, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .octal {
  color: #6c71c4;
}
/* line 297, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .predefined {
  color: #268bd2;
  font-weight: bold;
}
/* line 300, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .predefined-constant {
  color: #268bd2;
}
/* line 303, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .predefined-type {
  color: #859900;
  font-weight: bold;
}
/* line 309, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .preprocessor {
  color: #6c71c4;
}
/* line 313, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .pseudo-class {
  color: #268bd2;
  font-weight: bold;
}
/* line 319, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .regexp .content {
  color: #6c71c4;
}
/* line 322, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .regexp .delimiter {
  color: #6c71c4;
}
/* line 325, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .regexp .modifier {
  color: #6c71c4;
}
/* line 330, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .reserved {
  color: #859900;
  font-weight: bold;
}
/* line 336, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .shell .content {
  color: #859900;
}
/* line 339, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .shell .delimiter {
  color: #859900;
}
/* line 345, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .string .char {
  color: #d33682;
}
/* line 348, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .string .content {
  color: #dc322f;
}
/* line 351, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .string .delimiter {
  color: #dc322f;
}
/* line 354, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .string .modifier {
  color: #cb4b16;
}
/* line 359, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .symbol {
  color: #cb4b16;
}
/* line 361, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .symbol .content {
  color: #cb4b16;
}
/* line 364, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .symbol .delimiter {
  color: #cb4b16;
}
/* line 369, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .tag {
  color: #859900;
  font-weight: bold;
}
/* line 374, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .type {
  color: #6c71c4;
  font-weight: bold;
}
/* line 379, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .value {
  color: #2aa198;
}
/* line 383, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .variable {
  color: #268bd2;
}
/* line 387, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .insert {
  background-color: rgba(0, 255, 0, 0.2);
}
/* line 389, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .insert .insert {
  color: #859900;
  font-weight: bold;
}
/* line 393, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .insert .eyecatcher {
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0, 128, 0, 0.5);
  margin: -1px;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 403, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .delete {
  background: rgba(255, 0, 0, 0.12);
}
/* line 405, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .delete .delete {
  color: #dc322f;
  background: transparent;
  font-weight: bold;
}
/* line 410, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .delete .eyecatcher {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(230, 0, 0, 0.5);
  margin: -1px;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 420, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .change {
  color: #6c71c4;
  background: #268bd2;
}
/* line 423, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .change .change {
  color: #6c71c4;
}
/* line 428, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .head {
  color: #6c71c4;
}
/* line 430, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .head .head {
  color: #6c71c4;
}
/* line 433, ../_sass/2015/_coderay-solarized.scss */
.CodeRay .head .filename {
  color: #6c71c4;
}

/* line 9, ../_sass/2015/_style.scss */
body {
  font-size: 1.0rem !important;
  font-family: 'Alegreya Sans', 'Droid Sans', Heuristica, 'Libre Baskerville',  Vollkorn, Serif !Important;
  -webkit-font-smoothing: antialiased;
  background: #f0ebe7 url(https://s3.amazonaws.com/dausha/images/pbg.jpg) no-repeat top left fixed;
  background-size: cover;
}

/* line 18, ../_sass/2015/_style.scss */
#content a {
  color: #9d2235 !important;
}
/* line 20, ../_sass/2015/_style.scss */
#content a:visited {
  color: #9b228f !important;
}

/* line 27, ../_sass/2015/_style.scss */
#sidebar h3 {
  font-size: 24px;
}

/* line 33, ../_sass/2015/_style.scss */
#books-band .row img {
  width: 80% !important;
}

/* line 39, ../_sass/2015/_style.scss */
.nailthumb-portrait img {
  width: 80%;
}

/* line 41, ../_sass/2015/_style.scss */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}
/* line 47, ../_sass/2015/_style.scss */
blockquote p {
  display: inline;
}
/* line 48, ../_sass/2015/_style.scss */
blockquote footer {
  display: block;
  font-size: 80%;
  line-height: 1.4;
  color: #777;
}
/* line 49, ../_sass/2015/_style.scss */
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* line 7, ../_sass/screen.scss */
.dev {
  border: 1px solid red;
}

/* line 10, ../_sass/screen.scss */
#content {
  padding-top: 60px;
  padding-bottom: 50px;
}
/* line 13, ../_sass/screen.scss */
#content h1 {
  margin-top: 1em;
}

/* line 18, ../_sass/screen.scss */
h2, h3 {
  margin-top: 1em;
}
