h1, h2, h3, .footnotes:before {
  color: #036;
  text-shadow: 2px 1px 2px #999;
}

h1, h2, h3, h4, .progress, .footnotes:before {
    font-family: Montserrat, "Droid Sans", Sans-serif;
    font-weight: 400 !important;
}
.progress { font-weight: bold; text-shadow: 1px 1px 2px #333;}

  h1 { font-size: 3em; line-height: 1.05em}
  h2, .footnotes:before { font-size: 2.25em; line-height: 1.25em }
  h3 { font-size: 1.75em; line-height: 1.25em }

.footnotes:before {
  content: "Footnotes";
  display: block;
  margin-bottom: 0.5em;
}