.social_networks {
	margin-left: 1em; 
	li a {
	    color: #fff !important;
	    padding: .25em 1em !important;
	}
	li.twitter a {
	    background: #0093CE;
	}
	li.facebook a {
	    background: #2C4377;
	}
	li.googleplus a {
	    background: #c8422d;
	}
}