@import 'compass/css3/box-shadow';
@import '2015/color';
@import '2015/footer';
@import '2015/frontpage';
@import '2015/navbar';
@import '2015/blog';
@import '2015/headers';
@import '2015/coderay-solarized';
body {
  font-size: 1.0rem !important;
  font-family: 'Alegreya Sans', 'Droid Sans', Heuristica, 'Libre Baskerville',  Vollkorn, Serif !Important;
  -webkit-font-smoothing: antialiased;
  background: $background-color url(https://s3.amazonaws.com/dausha/images/pbg.jpg) no-repeat top left fixed;
  background-size: cover;
}
#sidebar {
	h3 {
		font-size: 24px;
	}
}
#books-band {
	.row {
		img {
			width: 80% !important;
		}
	}
}
.nailthumb-portrait {
	img {width: 80%;}
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  p {display: inline; }
  footer {display: block; font-size: 80%; line-height: 1.4; color: #777; }
  &:before {color: #ccc; content: open-quote; font-size: 4em; line-height: 0.1em; margin-right: 0.25em; vertical-align: -0.4em; }
}