@import 'compass/css3/box-shadow';
@import '2015/color';
@import '2015/footer';
@import '2015/frontpage';
@import '2015/navbar';
@import '2015/blog';
@import '2015/headers';
body {
  font-size: 1.0rem !important;
  font-family: 'Alegreya Sans', 'Droid Sans', Heuristica, 'Libre Baskerville',  Vollkorn, Serif !Important;
  -webkit-font-smoothing: antialiased;
  background: $background-color url(https://s3.amazonaws.com/dausha/images/pbg.jpg) no-repeat top left fixed;
  background-size: cover;
}
#sidebar {
	h3 {
		font-size: 24px;
	}
}
#books-band {
	.row {
		img {
			width: 80% !important;
		}
	}
}
.nailthumb-portrait {
	img {width: 80%;}
}