/* Cursive Fonts */
@import url(https://fonts.googleapis.com/css?family=Kalam|Kaushan+Script|Neucha|Sansita+One);
/* Sans-Serif Fonts */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700|Source+Sans+Pro|Droid+Sans|Montserrat|Syncopate);
/* Serif Fonts */
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Droid+Serif:400italic,700italic,400,700);

$brand-fonts: 'Sansita One', Syncopate, "Helvetica Neue",Helvetica,Arial,cursive;
$navbar-fonts: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$serif-fonts: 'PT Serif','Droid Serif', Garamond, Georgia, Serif !Important;
$sans-fonts: 'PT Sans','Droid Sans', Helvetica, Arial, Sans-Serif !Important;

$default-text-color: $gray-darker;

html {
  font-family: $serif-fonts;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.0rem !important;
  line-height: $line-height-base;
  font-family: $serif-fonts;
  color: $default-text-color;
  -webkit-font-smoothing: antialiased;

  h1, h2, h3, .footnotes:before {
    color: darken($brand-primary, 10%);
    text-shadow: 2px 1px 3px #888;
  }
  h2, h3, h4, .progress, .footnotes:before {
      font-family: $navbar-fonts;
      font-weight: 500 !important;
  }
  h6 {
    font-family: $navbar-fonts;
  }
  h1 {
    font-size: 2.6rem;
    font-family: $navbar-fonts;
    small {font-size: 1.0rem; display: block; }
  }
  h2, .footnotes:before { font-size: 2.15rem; line-height: 1.25em }
  h3 { font-size: 1.62rem; line-height: 1.25em }
  h4 { font-size: 1.0rem; line-height: 1.25em }
  .progress { font-weight: bold; text-shadow: 1px 1px 2px #333;}
  .footnotes{
     &:before {
      content: "Footnotes";
      display: block;
      margin-bottom: 0.5em;
    }
  }
  a.btn {
    color: #FFF !important;
  }
  .pagination {
    a { color: $default-text-color !important; }
    li.active {
      
      a {
        color: #FFF !important;
        background-color: $brand-primary !important;
        border-color: darken($brand-primary,5% )!important;
      }
    }
  }
}