/* Artsy Fonts */
@import url(http://fonts.googleapis.com/css?family=Kalam|Kaushan+Script|Neucha);
/* Sans-Serif Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Source+Sans+Pro|Droid+Sans|Montserrat);
/* Serif Fonts */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,400,700|Chango|Vollkorn|Syncopate|Merriweather);

$brand-fonts: Syncopate, "Helvetica Neue",Helvetica,Arial,cursive;
$navbar-fonts: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$serif-fonts: 'Droid Serif', Garamond, Georgia, Serif !Important;
$sans-fonts: 'Droid Sans', Sans-Serif !Important;

$default-text-color: $gray-darker;

html {
  font-family: $serif-fonts;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.0rem !important;
  line-height: $line-height-base;
  font-family: $serif-fonts;
  color: $default-text-color;
  -webkit-font-smoothing: antialiased;

  h1, h2, h3, .footnotes:before {
    color: darken($brand-primary, 10%);
    text-shadow: 2px 1px 3px #888;
  }
  h1, h2, h3, h4, .progress, .footnotes:before {
      font-family: $sans-fonts;
      font-weight: 500 !important;
  }
  h1 {
    font-size: 2.6rem;
    small {font-size: 1.0rem; display: block; }
  }
  h2, .footnotes:before { font-size: 2.15rem; line-height: 1.25em }
  h3 { font-size: 1.62rem; line-height: 1.25em }
  h4 { font-size: 1.0rem; line-height: 1.25em }
  .progress { font-weight: bold; text-shadow: 1px 1px 2px #333;}
  .footnotes{
     &:before {
      content: "Footnotes";
      display: block;
      margin-bottom: 0.5em;
    }
  }
  a.btn {
    color: #FFF !important;
  }
  .pagination {
    a { color: $default-text-color !important; }
    li.active {
      
      a {
        color: #FFF !important;
        background-color: $brand-primary !important;
        border-color: darken($brand-primary,5% )!important;
      }
    }
  }
}