<div class="navbar-fixed">
  <nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        {% include merovex-nav.html %}
      </a>
      <ul class="right hide-on-med-and-down">
          <li><a class='nav-link' href='/about-ben-wilson/'>About</a></li>
          <li><a class='nav-link' href='/books/'>Books</a></li>
          <li><a class='nav-link' href='/blog/'>Blog</a></li>
          <li><a class='btn' href='/follow/'>Follow</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav" aria-hidden="true">
        <li><a class='nav-link' href='/about-ben-wilson/'>About</a></li>
        <li><a class='nav-link' href='/books/'>Books</a></li>
        <li><a class='nav-link' href='/blog/'>Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>