  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper indigo darken-4">
	      <a href="/" class="brand-logo">Merovex Logo</a>
        <ul class="right hide-on-small-only">
          <li><a class='nav-link' href='/about-ben-wilson/'>About</a></li>
		      <li><a class='nav-link' href='/postal-marine-series/'>Books</a></li>
		      <li><a class='nav-link' href='/blog/'>Articles</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse right hide-on-med-and-up"><i class="material-icons white-text">menu</i></a>
      </div>
    </nav>
  </div>