---
layout: wide
title: Categories
header: Posts By Category
group: navigation
---

<div class='row'>
  <main class='col-sm-8 offset-sm-1'>
  {% for category in site.categories %}
  <h2 id="{{ category.label }}-ref">{{ category.label | join: "/" }}</h2>{%assign key=category.label %}
  <p>{{site.summary[key]}}</p>
  <ul>{% assign pages_list = category %}
    {% include pages_list.html %}
  </ul>
{% endfor %}
  </main>
  <aside class='col-sm-3'>
    <ul class="list-group">{% assign categories_list = site.categories | sort %}
	  {% include categories_list.html %}
	</ul>
  </aside>
</div>