---
layout: default
title: "Welcome to Dausha Publishing"
index: true
sidebar: true
title: ""
subtitle: Blog
---
{% if page.url == '/index.html' %}
{% include frontpage/bellicose.html %}
{% endif %}
<main>
  <section class='container lead' aria-role='complementary'>
    <h3>Help Me Pick New Logo Through 3 April 2016!</h3>
    <p>I am in the process of running a logo design contest on 99designs and have created a poll with 6 of the best logo designs I've received. I would love for you to <a href="http://bit.ly/1RhGt6r">vote on the logo design</a>. It only takes a minute.</p>
  </section>

  <section class='post container' aria-role='main' id='latest'>
    <h2 class='text-center'>Latest News</h2>
    <div class='row flexcontainer'>
    {%for post in paginator.posts %}
      <div class='col-lg-4 col-md-6 col-xs-12'>
        <div class='card'>
         <img class='card-img-top img-fluid' src='{{ site.cdn_url }}/images/articles/thumbnails/{{post.photo['image']}}' alt='{{post.photo['caption']}}'>
         <div class='card-block'>
            <p class='card-subtitle text-muted'><span class='sr-only'>Article Category: </span><span aria-hidden='true' class='fa fa-folder-open-o'></span> {{post.category}}</p>
            <h3 class='card-title'><a href='{{ root_url }}{{ post.url }}'>{{post.title}}</a></h3>
            <p class='card-text'>{{ post.description }}</p>
          </div>
        </div>
      </div>{% endfor %}

    </div>

    <div class='text-sm-center'>
      {% include paginator.html %}
    </div>
  </section>
</main>
{% include books.html %}