<div id='books-band'>
  <div class='container'>
    <h2 class='text-center'>Books</h2>
    <div class='row'>
      <div class='col-xs-12 col-sm-3 col-md-2 col-md-offset-2'>
        <a href='{{site.data.books['bellicose']['print']}}'><img src='https://s3.amazonaws.com/dausha/images/covers/Bellicose-cover.png'></a>
      </div>
      <div class='col-xs-12 col-sm-3 col-md-2'>
        <a href='/postal-marine-series/#luctation'><img src='https://s3.amazonaws.com/dausha/images/covers/Luctation-cover.png'></a>
      </div>
      <div class='col-xs-12 col-sm-3 col-md-2'>
        <a href='/postal-marine-series/#imbroglio'><img src='https://s3.amazonaws.com/dausha/images/covers/Imbroglio-cover.png'></a>
      </div>
      <div class='col-xs-12 col-sm-3 col-md-2'>
        <a href='{{site.data.books['scintilla']['print']}}'><img src='https://s3.amazonaws.com/dausha/images/covers/Scintilla-cover.png'></a>
      </div>
    </div>
  </div>
</div>