<div class='row'>
  <div class='col l4 m6 s12 center-align'>
    <img src='{{site.cdn_url}}/images/covers/{{ book.cover.angle }}' alt='' title='{{ book.title }} Cover Art' />
  </div>

  <div class='col l8 m6 s12'>
    <h3 id='{{book.link}}'>{{ book.full-title }}</h3>
    <p>{{book.content}}</p>

    {% if book.released %}{% include booklink_group.html %}
    <p>Find an error? Help me eradicate it by <a href='/korektu/{{book.link}}'>reporting it to me</a>. Thanks!</p>
    {% endif %}
  </div>
</div>