<footer>
  <div class='container'>
    <h3 class='row'>Merovex Press</h3>
    <div class='row'>
      <div class='col-md-7 col-sm-6 col-xs-12'>
        <p class='copyright'>Copyright © {% if page.created_at%}{{page.created_at| date: '%Y'}}{%else%}{{ site.time | date: '%Y' }}{%endif%} Ben Wilson. All Rights reserved.</p>
      </div>
      <div class='col-md-5 col-sm-6 col-xs-12'>
          <a href='/privacy-statement'>Privacy Policy</a>
           | <a href='/permissions'>My Permissions Policy</a>
      </div>
    </div>
  </div>
</footer>