  <!-- Footer -->
  <footer id='footer' class='footer hidden-print'>
  <div class='container'>
    <div class='row'>
        <div class='footer-col links col-md-2 col-sm-6 col-xs-12'>
            <div class='footer-col-inner'>
                <h3 class='title'>Dausha Publishing</h3>
                <ul class='list-unstyled'>
                    <li><a href='/about'><i class='fa fa-user'></i> About Ben Wilson</a></li>
                    <li class='hidden'><a href='#'><i class='fa fa-link'></i> Press</a></li>
                    <li><a href='/blog/archives'><i class='fa fa-link'></i> Blog</a></li>
                </ul>
            </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->    
        <div class='footer-col links col-md-2 col-sm-6 col-xs-12'>
            <div class='footer-col-inner'>
                <h3 class='title'>Books</h3>
                <ul class='list-unstyled'>
                    <li><a href='/postal-marine-series'><i class='fa fa-book'></i> Postal Marine Series</a></li>
                    <li><a href='/postal-marine-series/terradoma-map'><i class='fa fa-link'></i> Terradoma Map</a></li>
                    <li><a href='/furlong-firkin-fortnight-system'><i class='fa fa-link'></i> FFF System</a></li>
                </ul>
            </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->    
        <div class='footer-col links col-md-2 col-sm-6 col-xs-12'>
          <div class='footer-col-inner'>
              <h3 class='title'>Resources</h3>
              <ul class='list-unstyled'>
                  <li><a href='/logs/2015-progress'><i class='fa fa-area-chart'></i> Writing Progress</a></li>
                  <li><a href='/w/writing-standards'><i class='fa fa-link'></i> Writing Standards</a></li>
                  <li><a href='/writing-tools'><i class='fa fa-link'></i> Writing Tools</a></li>
              </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->    
        <div class='footer-col links col-md-2 col-sm-6 col-xs-12'>
            <div class='footer-col-inner'>
                <h3 class='title'>Stay Connected</h3>
                <ul class='list-unstyled'>
                  <li><a href='http://amzn.to/1VwV58V' onClick="ga('send', 'event', 'Button', 'Click', 'Amazon: Author Page');"><i class='fa fa-amazon'></i> Amazon</a></li>
                  <li><a href='http://on.fb.me/1M3gSiz' onClick="ga('send', 'event', 'Button', 'Click', 'Facebook: Author Page');"><i class='fa fa-facebook'></i> Facebook</a></li>
                  <li><a href='http://bit.ly/1Lrbjf0' onClick="ga('send', 'event', 'Button', 'Click', 'Subscribe: Author Feed');"><i class='fa fa-rss'></i> RSS Feed</a></li>
                </ul>
            </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->    
        <div class='footer-col links col-md-4 col-xs-12'>
            <div class='footer-col-inner'>
                <h3 class='title'>Subscribe</h3>
                <p>Subscribe and get occasional email about early releases!</p>
                <form action='' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' target='_blank' class='form-inline'>
                  <label class='sr-only' for='mce-EMAIL-1'>Enter Email address to </label>
                  <div class='input-group margin-bottom-sm'>
                    <span class='input-group-addon btn-warning' aria-hidden='true'><i class='fa fa-envelope-o fa-fw'></i></span>
                    <input type='text' placeholder='Your Email Here' autocomplete='off' name='EMAIL' id='mce-EMAIL-1' class='form-control'>
                  </div>
                  <button type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='btn btn-primary'>Subscribe</button>
                 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style='position: absolute; left: -5000px;' aria-hidden='true'>
                    <label for='nobody'>Are you human?</label>
                    <input type='text' id='nobody' name='b_958ff43d5b0de49bac9ad4e21_72de3b22a5' tabindex='-1' value=''>
                  </div>
              </form>
            </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->    
    </div>
    </div>
</div>
<div class='copyright'>
  <div class='container'>
      <div class='row'>
          <div class='col-md-8 col-sm-6 col-xs-12'>
              <p class='copyright'>Copyright © 1998&ndash;2015 Ben Wilson. All Rights reserved.</p>
          </div>
          <div class='col-md-4 col-sm-6 col-xs-12'>
              <ul class='list-inline quicklinks'>
                  <li><a href='/privacy-statement'>Privacy Policy</a></li>
                  <li><a href='/permissions'>Terms of Use</a></li>
              </ul>
          </div>
      </div>
  </div><!--//container-->
</footer>