<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-md-7 col-sm-6 col-xs-12'>
      <h3>Merovex Press</h3>
        <p class='copyright'>Copyright © {% if page.created_at%}{{page.created_at| date: '%Y'}}{%else%}{{ site.time | date: '%Y' }}{%endif%} Ben Wilson. All Rights reserved.</p>
      </div>
      <div class='col-md-5 col-sm-6 col-xs-12'>
          <a href='/privacy-statement'>Privacy Policy</a> &middot;
          <a href='/permissions'>Terms of Use</a>
      </div>
    </div>
  </div>
</footer>