<div id='skiptocontent' class='container'><a href='#content'>Skip to main content</a></div>
<header class='navbar navbar-dark bg-inverse navbar-fixed-top bd-navbar' role='banner'>
  <div class='clearfix'>
    <button class='navbar-toggler pull-right hidden-sm-up' type='button' data-toggle='collapse' data-target='#bd-main-nav'>
      &#9776;
    </button>
    <a class='navbar-brand hidden-sm-up' href='/'>
      Dausha Publishing<span class='sub'></span>
    </a>
  </div>
  <div class='collapse navbar-toggleable-xs' id='bd-main-nav'>
    <nav class='nav navbar-nav'>
      <a class='navbar-brand nav-item nav-link hidden-xs-down' href='/' >Dausha Publishing<span class='sub'></span></a>
      <a class='nav-item nav-link' href='/about-ben-wilson' >About Ben</a>
      <a class='nav-item nav-link' href='/p'>Latest News</a>
      <a class='nav-item nav-link' href='/postal-marine-series'>Books</a>
    </nav>
  </div>
</header>