<div id='skiptocontent' class='container'><a href='#content'>Skip to main content</a></div>
<header class='navbar navbar-dark bg-inverse navbar-fixed-top bd-navbar' role='banner'>
  <div class='clearfix'>
    <button class='navbar-toggler pull-right hidden-sm-up' type='button' data-toggle='collapse' data-target='#bd-main-nav'>
      &#9776;
    </button>
    <a class='navbar-brand hidden-sm-up' href='/' aria-hidden="true">
      Dausha Publishing<span class='sub'></span>
    </a>
  </div>
  <div class='collapse navbar-toggleable-xs' id='bd-main-nav'>
    <nav class='nav navbar-nav'>
      <a class='navbar-brand nav-item nav-link hidden-xs-down' href='/' >Dausha Publishing<span class='sub'></span></a>
      <ul class='nav navbar-nav pull-right'>
        <li class='nav-item'><a class='nav-link' href='/about-ben-wilson' >About Ben</a></li>
        <li class='nav-item'><a class='nav-link' href='/index.html#latest'>News</a></li>
        <li class='nav-item'><a class='nav-link' href='/postal-marine-series'>Books</a></li>
        <li class='nav-item'><a class='nav-link' href='http://amzn.to/1VwV58V' onClick="ga('send', 'event', 'Social', 'Click', 'Amazon: Author Page');">
          <span class="fa fa-amazon fa-lg" aria-hidden="true"></span>
          <span class='sr-only'>Amazon</span>
        </a></li>
        <li class='nav-item'><a class='nav-link'  href='http://on.fb.me/1M3gSiz' onClick="ga('send', 'event', 'Social', 'Click', 'Facebook: Author Page');">
          <i aria-hidden="true" class="fa fa-facebook-square fa-lg"></i>
          <span class='sr-only'>Facebook</span>
        </a></li>
        <li><a href='http://bit.ly/1Lrbjf0' onClick="ga('send', 'event', 'Social', 'Click', 'Subscribe: Author Feed');"><i aria-hidden='true' class='fa fa-rss'></i> RSS Feed</a></li>
      </ul>
    </nav>
  </div>
</header>