{% for post in site.categories[page.category]%}
    {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
    {% endif %}
{% endfor %}
{% for post in site.categories[page.category] %}
    {% if post_index0 == forloop.index %}
        {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post %}
    {% endif %}
{% endfor %}
<div class='row next-prev'>
	{% if next_post %}<div class='col-xs-6'>
	<a href="{{ next_post.url }}">Next<br>{{ next_post.title }}</a></div>
	{% endif %}
	{% if prev_post %}<div class='col-xs-6 text-xs-right'>
	<a href="{{ prev_post.url }}">Previous<br>{{ prev_post.title }}</a></div>
	{% endif %}
</div>
