<aside id='sidebar' class='col-xs-12 col-sm-4'>
<section aria-labelled-by='mcSidebar'>
  <h3 id='mcSidebar'>Get News in Your Inbox</h3>
  {% include forms/mailchimp.html %}
  <p></p>
</section>
<section aria-labelled-by='recent'>
  <h3 id='recent'>Recent Posts</h3>
</section>
<h3>Taxonomy</h3>
<ul class="meta">
{% for category in site.iterable.categories %}
	{% unless category.name == '' %}
		<li>
			<a href="{{ site.baseurl }}/{{ category.name | xml_id }}" class="category">{{ category.name | taxonomy_name }}</a>
			<span class="metadata">({{ category.posts.size }})</span>
		</li>
	{% endunless %}
{% endfor %}
</ul>
</aside>
