<div class='social_networks'>
  <h4>Share This Article</h4>
  <a class='btn btn-primary facebook' href="http://www.facebook.com/share.php?u={{site.url}}{{page.url}}&title={{page.title}}" target="_Blank">
    <span aria-hidden='true' class='fa fa-facebook'></span> facebook
  </a>
  <a class='btn btn-primary twitter' 
    href="http://twitter.com/home?status={{page.title}}+{{site.url}}{{page.url}}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" 
    target="_Blank"
    data-size="large"
    data-url="https://dev.twitter.com/web/tweet-button"
    data-count-url="https://dev.twitter.com/web/tweet-button"
    data-via="webmetech"
    data-related="twitterapi,twitter"
    data-hashtags="{{page.title}}"
    data-text="custom share text">
    <span aria-hidden='true' class='fa fa-twitter'></span> twitter
  </a>
  <a class='btn btn-primary google-plus' href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_Blank">
    <span aria-hidden='true' class='fa fa-google-plus'></span> google+
  </a>
</div>