<!-- Highlighting -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/ruby.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/markdown.min.js'></script>
  <script type='text/javascript'>

    // $(document).ready(function() {hljs.initHighlightingOnLoad(); });
    $(document).ready(function() {
	  $('pre code').each(function(i, block) {
	    hljs.highlightBlock(block);
	  });
	});
  </script> -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js' data-default-language="markdown"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-markdown.min.js'></script>