<table class='table-bordered' width='100%'>
  <tr>
    <th>Base Guides</th>
    <th>Combat Guides</th>
  </tr>
  <tr>
    <td>
    <ul>
          <li><a href="/astro-empires/seven-ten-guide/">Seven/Ten Guide</a></li>
      <li><a href="/astro-empires/advanced-base-guide/">Advanced Base Guide</a></li>
      <li><a href="/astro-empires/base-defense-guide/">Base Defense Guide</a></li>
      <li><a href="/astro-empires/pring-construction-guide/">Build Prings Efficiently</a></li>
      <li><a href="/astro-empires/production-structures/">Production Structures Form</a></li>
      </ul>
    </td>
    <td>
      <ul>
      <li><a href="/astro-empires/napkin-combat/">Combat on Back of Napkin</a></li>
      <li><a href="/astro-empires/small-fleet-doctrine/">Small Fleet Doctrine</a></li>
      </ul>
    </td>
  </tr>
</table>