---
permalink: /postal-marine-series/
layout: wide
title: 'Postal Marine Series'
date: 2012-07-15 12:33
---

<p>The Postal Marine series stars Imperial Postal Marine Danel Bophendze. We meet him as a naive young boy who mistakenly installs an ancient, manipulative AI in his brain. Bophendze ends up becoming a legend in the Marines, before turning his back on it all.</p>

<h2>Novels</h2>

<section id='book-series'>
<div class='row'>
  <div class='col l4 m6 s12 center-align'>
    <img src='{{site.cdn_url}}/images/covers/Bellicose-cover.png' alt='' title='Bellicose Cover Art' />
  </div>

  <div class='col l8 m6 s12'>
    <h3 id='bellicose'>Book 1: Bellicose</h3>
    <p>The orphaned Danel Bophendze struggles to find his way as a new marine in the Imperial Postal Service. He embedded <abbr>SMEE</abbr>, an ancient artificial intelligence, in his brain hoping it will give him the edge he needs. Aristocratic Ambrose Litovio left a promising career in the Navy to join the Postal Service. He is called upon to assist the only admiral as war looms between the Postal Service and the Navy. Bophendze and Litovio fight to survive the epic Battle of Tannenberg Gate. To Bophendze, the real fight is all in his head.</p>

{% assign book = site.data.kbooks['bellicose'] %}{% include booklink_group.html %}
    <p>Find an error? Help me eradicate it by <a href='/korektu/bellicose'>reporting it to me</a>. Thanks!</p>
  </div>
</div>

<div class='row'>
  <div class='col l4 m6 s12 center-align'>
    <img src='{{site.cdn_url}}/images/covers/Luctation-cover.png' alt='' title='Luctation Cover Art' />
  </div>

  <div class='col l8 m6 s12'>
    <h3 id='luctation'>Book 2: Luctation</h3>

    <!--After a wake of failed missions, operative Jonaldy Ammonet is given one final chance in an organization where death is the only reward for failure. Recruiting the aid of Imperial Postal Marine Bophendze, Jonaldy saves a Dabrian imperial princess and her family from abduction only to find himself hunted with ruthless perfection by Creed Taneo, a living legend who wants his hostages back. -->

    <p>After a series of failed missions, Jonaldy Ammonet is given the impossible mission of rescuing royal family members. Another failure will be his death. Postal Marine Danel Bophendze hovers at the edge of sanity battling his inner demon. Together, they are pitted against the ruthless Selan, who only wants his hostages back. Jonaldy must decide between the hostages and himself in order to stop interference with Dabrian imperial succession.</p>
  <!-- Faced with returning the hostages or sacrificing himself, Jonaldy must learn when to yield to a higher

  Danel Bophendze's continuing battle with his inner demon keeps him at the edge of sanity

  Despite being a hero, David Bophendze's continuing battle with his inner demon keeps him at the edge of sanity. Creed Taneo's drive for perfection makes him a near-legend within the ultra-secretive Bafiktuy, as he quickly rises through the ranks after dozens of successful missions. Jonaldy Amonett failed as a courier for the Bafiktuy. One more failure could be his last.

  Now, Jonaldy is given an impossible mission: stop Creed from abducting a member of the Dabrian imperial family during a struggle over who should be the next emperor of the Pax Terradoma. With Bophendze's assistance, he succeeds, only to have Creed hunt them down with his ruthless perfection. They might save part of a royal family, but can Jonaldy and Bophendze save themselves? -->
  <p class="alert alert-danger" role="alert">Expected soon!</p>
  </div>
</div>
<div class='row'>
  <div class='col l4 m6 s12 center-align'>
    <img src='{{site.cdn_url}}/images/covers/Imbroglio-cover.png' alt='' title='Luctation Cover Art' />
  </div>
  <div class='col l8 m6 s12'>
    <h3 id='imbroglio'>Book 3: Imbroglio</h3>

    <!-- Daniel Bophendze served the Imperial Postal Service Marine Corps with distinction for nearly 15 years. To end the Belter Rebellion on Disaster Asteroid, Bophendze massacred the rebels. He transferred to a remote system to lay low only to find rampant corruption and worse; he was blamed for the Belter Massacre. Bophendze is later abandoned in an alien system where he discovers plans for a hyperspace radar. Returning to civilization, he is arrested and sent to confront his crimes. Will Bophendze continue to fight to save his career, or will he chose a different path? -->

    <p>After a long, distinguished service as an Imperial Postal Marine, Danel Bophendze's commits the Belter Massacre under orders. Exiled to a remote outpost, he finds himself abandoned in an alien system where he discovers hyperspace radar technology. Rescued and arrested, he must distinguish between self-preservation and the good of the Corps.</p>

    <p class="alert alert-danger" role="alert">Expected soon!</p>
  </div>
</div>

<div class='row'>
  <div class='col l4 m6 s12 center-align'>
    <img src='{{site.cdn_url}}/images/covers/Scintilla-cover.png' alt='' title='Scintilla Cover Art' />
  </div>
  <div class='col l8 m6 s12 last'><h3 id='scintilla'>Book 4: Scintilla</h3>

  <p>On the verge of earning a plum job in government, pampered Mondennio Rownzal Clin-Khotaigra is is kicked out of university after being falsely accused of cheating.

  He struggles to clear his name, only to be implicated in the murder of a magistrate.
  
  Confronted with the injustices of Copa's clinate system, Mondennio must reconcile his doubt in his government's legitimacy against Jonaldy Amonett's efforts to compel him to be an agent for the Imperium.
  </p>

{% assign book = site.data.kbooks['scintilla'] %}
{% include booklink_group.html %}

<p>Find an error? Help me eradicate it by <a href='/korektu/scintilla'>reporting it to me</a>. Thanks!</p>

  <!-- The interstellar Terran Imperium is expanding to reclaim what was lost during the Decline—a period when hyperspace variances cleaved off countless human systems. The Clinate Oligarchy ruled Copa System for nearly 1,500 years, with every citizen identified as a contract line item. With the hyperspace route reestablished, the Imperium slowly infects Copan society—vying for control and peaceful transition.

  Despite enjoying the opulence as a sub-sept member of Clin-Khotaigra, University student Mondennio Rowenzal seeks higher status in government and society. His ambitions are shattered when he is caught cheating during a critical exam, setting him on a course that could decide the fate of his stellar system.

  Can he overcome Bafiktuy Intelligence operative Jonaldy Amonett's efforts to compel him to be an agent for the Imperium while doubting his own government's legitimacy?-->
  </div>

</div>
</section>
