{% if paginator.total_pages > 1 %}
   <ul class='pagination' id='pagination' role='menu' aria-label='Pagination'>
       {% if paginator.previous_page %}
       <li>{% capture url %}{%if paginator.previous_page == 1 %}{{ "/blog" | prepend: site.baseurl | replace: '//', '/' }}{%else%}/blog/page{{paginator.previous_page}}/{%endif%}{% endcapture %}
          <a href='{{url}}' aria-label='Previous' role="menuitem">
            <i class="material-icons" aria-hidden='true'>chevron_left</i>
            <i class='sr-only'>Previous</i>
          </a>
        </li>
        {%else%}
        <li class=' disabled'>
          <a href='#pagination' aria-label='Previous'>
            <i class="material-icons" aria-hidden='true'>chevron_left</i>
            <i class='sr-only'>Previous</i>
          </a>
        </li>
        {% endif %}
{% for page in (1..paginator.total_pages) %}{% capture url %}{%if page == 1 %}{{ "/blog" | prepend: site.baseurl | replace: '//', '/' }}{%else%}/blog/page{{page}}{%endif%}{% endcapture %}{% if page != paginator.page %}<li><a role="menuitem" href='{{url}}'><i class='sr-only'>Page </i>{{page}}</a></li>
        {%else%}<li class='active '><a href='{{url}}'><i class='sr-only'>Page </i>{{page}} <i class='sr-only'>(current)</i></a></li>{% endif %}{%endfor%}
    {% if paginator.next_page %}<li>
      <a href='/blog/page{{{paginator.next_page}}' aria-label='Next' role="menuitem">
        <i class="material-icons" aria-hidden='true'>chevron_right</i>
        <i class='sr-only'>Next</i>
      </a>
    </li>
     {%else%}
        <li class=' disabled'>
          <a href='#pagination' aria-label='Next'>
            <i class="material-icons" aria-hidden='true'>chevron_right</i>
            <i class='sr-only'>Next</i>
          </a>
        </li>
    {% endif %}
   </ul>{% endif %}