<!-- TWO COLS DESCRIPTION SECTION
================================= -->
<section id="two-cols-description" class="two-cols-description-section section-accent section">
	<div class="container-fluid two-cols-description-row">
		<!-- TWO COLS DESCRIPTION TEXT -->
		<div class="two-cols-description-text" data-animation="fadeInLeft">
			<div class="two-cols-description-text-inner">
				<h2 class="section-heading text-left"><em>Forbearance</em> Online Fiction Series</h2>

				<p>
					In the <em>Forbearance</em> web series, we meet Keius Minjen, a postal marine, as he tries to survive the battle planet Guna to exact revenge and one day liberate his homeland.
				</p>
				
				<form>
					Signup Form
				</form>
			</div>
		</div>

		<!-- TWO COLS DESCRIPTION IMAGE -->
		<div class="two-cols-description-image" data-animation="fadeInRight">
			<img src="images/backgrounds/two-cols-description-bg.jpg" alt="">
		</div>
	</div>
</section>