<section id='about'>
  <div class='container content-section text-center'>
    <div class='row'>
      <div class='col-lg-offset-2 col-md-offset-2 col-md-8'>
        <h2 style='margin-top: 10%;'>'My Life is About Telling Stories'</h2>
        <p class='lead'>
          <a href='/about-ben-wilson'>Ben Wilson</a> is a science fantasy writer and a jack-of-many-trades.
          He’s into history, human nature and religious studies. He is the author of the Postal Marine Series, though he eventually wants to write four novel series.
          No hubris here.
          <br>His books are avalable on Amazon.
          <br>Ben lives in Arlington, Virginia with his wife, three children
          <br>&hellip;and Milo the friendly cat.
        </p>
      </div>
    </div>
  </div>
</section>