<section id='intro' class='jumbotron dark back'>
	<h1>Ben Wilson <span>Author of the Postal Marine Series</span></h1>
	<ul class='list-inline'>
      <li>
        <a class='btn btn-warning-outline btn-lg' href='http://amzn.to/1VwV58V' onClick='ga('send', 'event', 'Button', 'Click', 'Amazon: Author Page');'>
          <i class='fa fa-amazon fa-fw'></i>
          <span class='network-name'>Amazon</span>
        </a>
      </li>
      <li>
        <a class='btn btn-primary-outline btn-lg' href='http://on.fb.me/1M3gSiz' onClick='ga('send', 'event', 'Button', 'Click', 'Facebook: Author Page');'>
          <i class='fa fa-facebook fa-fw'></i>
          <span class='network-name'>Facebook</span>
        </a>
      </li>
      <li>
        <a class='btn btn-primary-outline btn-lg' href='http://bit.ly/1Lrbjf0' onClick='ga('send', 'event', 'Button', 'Click', 'Subscribe: Author Feed');'>
          <i class='fa fa-feed fa-fw'></i>
          <span class='network-name'>RSS</span>
        </a>
      </li>
    </ul>
</section>