<section class='base'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <hr class='section-heading-spacer'>
        <div class='clearfix'></div>
        <h2>
          From the Beginning:
          <em>Bellicose</em>
        </h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-7 col-sm-6 col-xs-12'>
        <p class='lead'>
          You've already met Danel. Aristocratic Ambrose Litovio left a promising career in the Navy to join the Postal Service. He is called upon to assist the first Postal admiral as war looms between the Postal Service and the Navy. Bophendze and Litovio fight to survive the epic Battle of Tannenberg Gate. To Bophendze, the real fight is all in his head.
        </p>
        <p class='lead'>
          Or, check out the entire
          <a href='postal-marine-series'>Postal Marine Series</a>
          !
        </p>
        <div class='btn-toolbar'>
          <div aria-label='Bellicose Buying Options' class='btn-group btn-group-lg' role='group'>
            <a class='btn btn-danger' href='http://www.amazon.com/dp/0983952108/?tag=dausha-20' onClick='ga('send', 'event', 'Button', 'Click', 'Amazon: Bellicose Paperback');' target='_blank'>
              <i class='fa fa-book'></i>
              <span class='sr-only'>Buy Bellicose as</span>
              Paperback
            </a>
            <a class='btn btn-primary' href='http://www.amazon.com/dp/B00M3GSHFY/?tag=dausha-20' onClick='ga('send', 'event', 'Button', 'Click', 'Amazon: Bellicose Kindle');' target='_blank'>
              <i class='fa fa-amazon'></i>
              <span class='sr-only'>Buy Bellicose as</span>
              Kindle
            </a>
          </div>
        </div>
      </div>
      <div class='col-lg-4 col-lg-offset-1 col-sm-6 col-xs-12'>
        <img alt='Read Bellicose' class='img-responsive' src='https://s3.amazonaws.com/dausha/images/covers/Bellicose-cover.png'>
      </div>
    </div>
  </div>
</section>