<aside>
    <h2>Comments</h2>

	<div class="comments"></div>

	<h3>Leave a comment</h3>

	<div class='row'>
		<form id="comment" class='col s12'>

		  <label for="name">Name</label>
		  <input type="text" id="name">

		  <label for="email">Email</label>
		  <input type="text" id="email">


		  <label for="message">Message</label>
		  <textarea id="message"></textarea>
		  <div style='position: absolute; left: -5000px;'>
	      <input type='text' 
        id='b_9x58ff43d5b0de49bac9ad4e21_72de3b22a5' 
        tabindex='-1' 
        value=''>
	    </div>

		  <input type="submit" value="Post Comment" class='btn'>
		</form>
	</div>
</aside>