<div class='row'>
    <header class='col s12 m10 offset-m1 l8 offset-l2' >
      <h1>{% if page.category %}{% assign category = page.category | downcase %}
      <small aria-hidden='true' class='valign-wrapper'><i class="valign material-icons" aria-hidden='true'>folder_open</i> <a class='valign' href='{{ site.baseurl }}/categories/#{{ category | replace: ' ', '+'}}'>{{site.data['categories'][category]}}</a></small>
      {%endif%}
      {{ page.title }}</h1>
      <span class='darker-3 sans h3'>{% if page.description != "" %}{{ page.description }}{%endif%}</span>
      <p  class='sr-only'>Category: {{category | titlecase}}</p>
      {% assign fred = page %}
      {% if page.subtitle %}<p class='subtitle'>{{page.subtitle}}</p>{%endif%}

      {% if page.tags %}{% include page_tags.html %}{%endif%}
    </header>
</div>