---
layout: default
---
<section id='hero-photo' style="background-image: url(https://s3.amazonaws.com/dausha/images/articles/{{page.photo['image']}})">
</section>
<div class='container'>
  <div class='row'>
    <div class='col-sm-2'>
      {% include social_networks.html %}
    </div>
    <div class='col-sm-8'>
      <h1 aria-hidden='true'><small><span class='fa fa-folder-open-o'></span> <a href='{{ site.baseurl }}/categories/#{{ page.category | replace: ' ', '+'}}-ref'>{{page.category}}</a></small> {{ page.title }} </h1>
      <header>
        <h1 class='sr-only' id='page-title'>{{page.title}}</h1>
        <p  class='sr-only'>Category: {{page.category | titlecase}}</p>
        {% assign fred = page %}{% include post_meta.html %}
      </header>
    	<section id='article-body'>
    	{{ page.content | markdownify }}
    	</section>
    </div>
  </div>
</div>