---
layout: default
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=120807331401670";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class='post container'>
  <div class='row' aria-hidden='true'>
    <h1 class='col-xs-12'><small><span aria-hidden='true' class='fa fa-folder-open-o'></span> <a href='{{ site.baseurl }}/categories/#{{ page.category | replace: ' ', '+'}}-ref'>{{page.category}}</a></small> {{ page.title }} </h1>
  </div>
  <div class='row'>
    <main class='col-gold-lg col-xs-12' role='main' aria-labelledby='page-title'>

      <article>
        <header>
          <h1 class='sr-only' id='page-title'>{{page.title}}</h1>
          <p  class='sr-only'>Category: {{page.category | titlecase}}</p>
          {% assign fred = page %}{% include post_meta.html %}
        </header>
        {% include social_networks.html %}
        <section id='introduction'>
          {{ post.content | split:"<!-- more -->" | first |markdownify }}
        </section>
          {% unless post.photo['hidden'] %}<section id='photo'><figure class="photo">
            <img src="https://s3.amazonaws.com/dausha/images/articles/{{post.photo['image']}}" alt="{{post.photo['caption']}}" />
            <div class="caption">{{post.photo['caption']}} (Photo: <a href="{{post.photo['url']}}">{{post.photo['creator']}}</a> {{post.photo['license']}}.)</div>
          </figure></section>{% endunless %}
        <section id='article-content'>
          {% if post.legal %}{% include legal-disclaimer.html %}{%endif%}
          {{ post.content | split:"<!-- more -->" | last |markdownify }}
        </section>
        <aside role='complementary'>
          {% include same.html %}
          <h2>Comments</h2>
          <p>To comment on this blog post, please find the shared version on <a href="http://on.fb.me/1M3gSiz">my facebook page</a>.
        </aside>
      </article>
    </main>
    {% include sidebar.html %}
  </div>
</div>